		<div id="footer">
			<p class="right">&copy; 2008 Hotdog Heaven, Design: Matt Elhotiby - 
			 	<a href="http://www.hotiby.com/" title="Information Architecture and Web Design">Web</a></p>
			<p><a href="#">Products</a> &middot; <a href="#">Inventory</a> &middot; <a href="#">Reports</a> &middot;
				 <a href="#">Contact</a> &middot; <a href="#">Disclaimer</a><br /></p>
		</div>